.container {
  width: 90%;
  margin: 0 auto;
}

header {
  height: 190px;
  width: 325px;
  margin: 0 auto;
}

img {
  width: 325px;
  height: 160px;
  text-align: center;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 40pt;
  text-align: center;
}

.video-list {
  float: right;
  width: 40%;
}

.vid-container {
  height: 360px;
  margin: 0 auto;
  margin-left: 25px;
  border: 1px solid #444;
  overflow: scroll;
}

.video-slot {
  border: 1px solid #666;
}

.video-title {
  text-align: center;
  font-family: "Oswald", sans-serif;
}

.video-title:hover {
  color: #b5e4c5;
  text-shadow: 0.5px 0px 0px #444;
}

.byline {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 32pt;
}
