.menu-slider {
  width: 55%;
  height: 1000px;
  position: absolute;
  z-index: 10;
  left: -600px;
  top: 0px;
  border-right: 1px solid #222;
  background-color: #fff;
}

.vid-container {
  width: 55%; 
  height: 450px;
  margin: 0 auto;
  margin-top: 200px;
}

.slider-control {
  font-size: 25pt;
  position: absolute;
  top: 5px;
  right: 25px;
  margin-top: 0;
}

.slider-control-extended {
  display: none;
  font-size: 25pt;
  position: absolute;
  top: 5px;
  right: 25px;
  margin-top: 0;
}

.menu-slider.extended {
  width: 55%;
  height: 1000px;
  position: absolute;
  z-index: 10;
  left: -100px;
  top: 0px;
  border-right: 1px solid #222;
  background-color: #fff;
}

.menu-title {
  font-family: "Oswald", sans-serif;
  font-size: 14pt;
  color: #222;
  position: absolute;
  top: 35px;
  right: 15px;
  margin-top: 4px;
}

img {
  margin: 0 auto;
  padding-left: 45px;
}

.byline {
  padding-left: 100px;
}
